{% extends 'base.html' %}

{% block content %}
<div class="card form-card">
    <h2>Edit Task</h2>

    <form method="POST" class="task-form">

        <label>Title</label>
        <input type="text" name="title" value="{{ task.title }}" required class="plain-input">

        <label>Status</label>
        <select name="status" class="plain-input">
            <option {% if task.status == 'Pending' %}selected{% endif %}>Pending</option>
            <option {% if task.status == 'In Progress' %}selected{% endif %}>In Progress</option>
            <option {% if task.status == 'Completed' %}selected{% endif %}>Completed</option>
        </select>

        <label>Due Date</label>
        <input type="date" name="due_date" value="{{ task.due_date }}" class="plain-input">

        <label>Priority</label>
        <select name="priority" class="plain-input">
            <option {% if task.priority == 'Low' %}selected{% endif %}>Low</option>
            <option {% if task.priority == 'Medium' %}selected{% endif %}>Medium</option>
            <option {% if task.priority == 'High' %}selected{% endif %}>High</option>
        </select>

        <button type="submit" class="btn">Update Task</button>

    </form>
</div>
{% endblock %}
